<section data-ng-controller="HomeController as homeController" class="full-height">

	<div class="jumbotron text-center">
		<div class="row">
			<p>Welcome to slabs - experiment in data.
			</p>
		</div>

		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/stage/">Create an experiment</a>
			</p>
		</div>
	</div>

	<network-list data-ng-if="homeController.showList"
				  list="homeController.networks"
				  open-network="homeController.openNetwork(item)"
				  open-network-view="homeController.openNetworkView(networkId)"
				  class="networkList">
				  </network-list>

</section>
