<section data-ng-controller="HomeController as homeController" class="full-height homepage">

	<div class="jumbotron text-center">
		<div class="row">
			<p>Welcome to slabs - experiment in data.
			</p>
		</div>

		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="/#!/stage/">Create an experiment</a>
			</p>
		</div>
	</div>

	<div class="container-fluid" data-ng-if="homeController.showList">
		<div class="row">

			<network-list caption="Recent Experiments"
						  list="homeController.recentNetworks"
						  open-network="homeController.openNetwork(item)"
						  open-network-view="homeController.openNetworkView(networkId)"
						  up-vote="homeController.upVote(network)"
						  class="networkList networkListRecent">
						  </network-list>

			<network-list caption="Popular Experiments"
						  list="homeController.popularNetworks"
						  open-network="homeController.openNetwork(item)"
						  open-network-view="homeController.openNetworkView(networkId)"
						  up-vote="homeController.upVote(network)"
						  class="networkList networkListPopular">
			</network-list>

		</div>
	</div>

</section>
