<section data-ng-controller="StageController" class="full-height">

	<div class="stage full-height">

		<div class="stageWrapper" data-ng-class="{darken:settingsPageVisible}">

			<btn class="run btn btn-success btn-med" data-ng-click="runSlabNetwork()">Run Slab Network</btn>

			<slab data-ng-repeat="slab in slabs"
				  id="slab.id"
				  name="slab.name"
				  type="slab.type"
				  left="slab.left"
				  top="slab.top"
				  open-settings="openSlabSettings(slab)">
			</slab>

		</div>

		<iframe id="settingsFrame" data-ng-show="settingsPageVisible"></iframe>

	</div>

	<div data-ui-view class="full-height"> </div>

</section>
