<section data-ng-controller="StageController as stageController" class="full-height">

	<div class="stage full-height">

		<div class="run">
			<btn class="btn btn-success btn-med" data-ng-click="stageController.runSlabNetwork()">{{stageController.buttonLabel}}</btn>
			<btn class="output btn btn-success btn-med" data-ng-show="stageController.viewId" data-ng-click="stageController.viewOutput()">Open Network View</btn>
		</div>

		<div id="stage-container" class="stage-container stageWrapper" data-ng-class="{darken:stageController.settingsPageVisible}">


			<div class="titleField">
				<div class="input-group">
					<input data-ng-model="stageController.title" type="text" class="form-control" placeholder="Network Title">
				</div>
			</div>

			<slab data-ng-repeat="slab in stageController.slabs"
				  id="slab.id"
				  guid="slab.guid"
				  name="slab.name"
				  type="slab.type"
				  left="slab.left"
				  top="slab.top"
				  open-settings="stageController.openSlabSettings(slab)"
				  remove-clicked="stageController.removeSlab(slab)">
			</slab>

		</div>


		<iframe src="{{stageController.iframeSrc}}" id="settingsFrame" data-ng-show="stageController.settingsPageVisible"></iframe>

	</div>

	<div data-ui-view class="full-height"> </div>

</section>
