/* Very small screens (Phones etc...) */
@media (min-width: 1px) {
    .row {
        height:50%;
    }
    .block {
        padding-bottom : 30px
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .row {
        height:50%;
    }
    .block {
        padding-bottom : 30px
    }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .row {
        height:100%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .row {
        height:100%;
    }
}

body {
    background : #f7f7f7;
}

iframe {
    border: none !important;
}

.navbar {
    margin-bottom : 0;
}

.full-size {
    width:100%;
    height:100%;
}

.block-container {
    padding:30px;
    width:100%;
    height:calc(100% - 50px);
}



.block {
    height:100%;
}
