.sidebar {
  float:left;
  width:25%;
  background:white;
  border-left:#e0e0e0 1px solid;
  padding:10px;
}

.sidebar .icon {
  float:right;
  margin-top:3px;
}

.sidebar .list-group {
  margin-top:10px
}
