.stage {
    width:75%;
    height:100%;
    float:left;
    background:#000000;
    position:relative;
}

.stage .stageWrapper {
    position:relative;
    width:100%;
    height:150%;
    background-color:#F7FAFB;
    background-image: linear-gradient(white 2px, transparent 2px),
    linear-gradient(90deg, white 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
    background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
    background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
    border-right:#e0e0e0 1px solid;
}

.stage .darken {
    opacity:0.5;
}

.stageWrapper .titleField {
    padding:10px;
}

.stageWrapper .slab {
    position:absolute;
    width:180px
}
.stageWrapper .slab .removeBtn{
    margin-right:5px;
    cursor: pointer;
}
.stageWrapper .slab .btn{
    cursor: pointer;
}

.stageWrapper .slab .panel-heading {
    height:50px
}
.stageWrapper .slab .panel-body {
    text-align: center;
}
.stageWrapper .slab .panel-body .slab-title {
    width: 100%;
    float: left;
    margin-bottom:10px;
}
.stageWrapper .slab .panel-body .glyphicon {
    font-size:25px;
    color:#dddddd;
}


.stageWrapper .slab {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
    cursor: move;
}

.stage .run {
    position: absolute;
    right:10px;
    top:10px;
    z-index: 5;
}

iFrame {
    position:absolute;
    width:500px;
    height:500px;
    left:calc(50% - 250px);
    top:calc(50% - 250px);
    border:0
}


.item {
    border: 1px solid black;
    background-color: #ddddff;
    width: 100px;
    height: 100px;
    position: absolute;
}

.stage .aLabel {
    background-color:white;
    padding:0.4em;
    font:12px sans-serif;
    color:#444;
    z-index:21;
    border:1px solid #ddd;
    cursor: pointer;
}
.stage .aLabel._jsPlumb_hover {
    background-color:#5C96BC;
    color:white;
    border:1px solid white;
}

